@charset "utf-8";
/* CSS Document */
body {
	padding-top: 70px;
}
footer {
	background-color: #f5f5f5;
	height: 60px;
	width: 100%;
}
#content {
    min-height: 200px;
}

#col-left {
    box-shadow: 2px 0 lightgrey;
    min-height: 780px;
}
#col-right {
    box-shadow: 2px 0 lightgrey;
    min-height: 780px;
}
#col-center {
    box-shadow: 2px 0 lightgrey;
    min-height: 780px;
}
#widget-ts {
    min-height: 150px;
    overflow: hidden;
}

/*--------------------------------------*/
/* Team */
/*--------------------------------------*/
#list-team a{
    color: black;
    text-decoration: none;
}
#list-team a:hover{
    color: cornflowerblue;
}
#list-team li{
    width: 100%;
    padding: 0;
}
#list-team li:hover{
    cursor: pointer;
}

/*--------------------------------------*/
/* Recent games */
/*--------------------------------------*/
#recent_games {
	font-size: small;
}

/*--------------------------------------*/
/* MySoloQ */
/*--------------------------------------*/

.game a{
    color: inherit;
}
.game-win {
  /*background-color: #4cae4c;*/
    color: #4cae4c;
}
.game-lose {
    /*background-color: #c9302c;*/
    color: #c9302c;
}

/*--------------------------------------*/
/* AddPlayer */
/*--------------------------------------*/
.entry:not(:first-of-type)
{
    margin-top: 10px;
}

.glyphicon
{
    font-size: 12px;
}

/*--------------------------------------*/
/* Footer */
/*--------------------------------------*/
#social:hover {
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -o-transform:scale(1.1);
			}
#social {
    -webkit-transform:scale(0.8);
    /* Browser Variations: */
    -moz-transform:scale(0.8);
    -o-transform:scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}
.social-fb:hover {
    color: #3B5998;
}
.social-tw:hover {
    color: #4099FF;
}
.social-gp:hover {
    color: #d34836;
}
.social-em:hover {
    color: #f39c12;
}