@charset "utf-8";
/* CSS Document */
body {
	padding-top: 20px;
}

.navbar {
    margin-bottom: 0;
}
.navbar-nav a {
    color: #000000;
}
.navbar-nav > li>a:hover,
.navbar-nav > li>a:focus {
    background-color: transparent;
    font-size: 15px;
}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
    background-color: transparent;
}

footer {
	/*background-color: #f5f5f5;*/
	height: 60px;
	width: 100%;
}

#footer-links {
    text-align: left;
    padding-top: 10px;
}

#content {
    min-height: 200px;
}
#col-left {
    box-shadow: 2px 0 lightgrey;
    min-height: 780px;
}
#col-right {
    box-shadow: 2px 0 lightgrey;
    min-height: 780px;
}
#col-center {
    box-shadow: 2px 0 lightgrey;
    min-height: 780px;
}


.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}
.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}

.notActive{
    color: #3276b1;
    background-color: #fff;
}

/*--------------------------------------*/
/* Ladder */
/*--------------------------------------*/
/*--------------------------------------*/
/* Team */
/*--------------------------------------*/
#team-list a{
    text-decoration: none;
    color: black;
    font-size: small;
}
#team-list a:hover{
    color: black;
}
#team-list .active a {
    color: white;
}
#team-list li{
    width: 100%;
    padding: 0;
}
#team-list li:hover{
    cursor: pointer;
}

.table-team {
    margin-bottom: 0;
}
.table-team th {
    text-align: center;
}


.glickotile{
    vertical-align: middle;
    margin-bottom: 30px;
}
.glickotile-content {
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid #ececec;
    border-radius: 4px;
    transition: 0.2s;
}
.glickotile:hover > .glickotile-content{
    margin-bottom: -10px;
    border: 1px solid rgb(200, 200, 200);
    box-shadow: rgba(0, 0, 0, 0.1) 0 5px 5px 2px;
    background: rgb(200, 200, 200);
    background: rgba(200, 200, 200, 0.1);
    background-color: #ffffff;
    transition: 0.5s;
}

#tile-ladder {

}
#tile-ladder .active {
    color:black;
}
#tile-ladder .inactive {
    color: grey
}
#tile-ladder .hider:hover{
    cursor: pointer;
}


.glickotile img {
    width: 200px;
    height: 200px;
}
.glickotile-img{
    margin-bottom: 10px;
    text-align: left;
}
.glickotile-img strong {
    white-space: nowrap;
    word-wrap: break-word;
}
.glickotile-img img {
    width: 50px;
    height: 50px;
}
.glickotile-well {
    text-align: left;
}


/*--------------------------------------*/
/* Recent games */
/*--------------------------------------*/
#right-well {
	font-size: small;
}

/*--------------------------------------*/
/* MySoloQ */
/*--------------------------------------*/
.game a{
    color: inherit;
}
.game-win {
  /*background-color: #4cae4c;*/
    color: #4cae4c;
}
.game-lose {
    /*background-color: #c9302c;*/
    color: #c9302c;
}

/*--------------------------------------*/
/* Footer */
/*--------------------------------------*/
#social:hover {
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -o-transform:scale(1.1);
}
#social {
    -webkit-transform:scale(0.8);
    /* Browser Variations: */
    -moz-transform:scale(0.8);
    -o-transform:scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}
.social-fb:hover {
    color: #3B5998;
}
.social-tw:hover {
    color: #4099FF;
}
.social-gp:hover {
    color: #d34836;
}
.social-em:hover {
    color: #f39c12;
}
#index-footer {
    position: absolute;
    bottom: 0;
    height: 45px;
}

.destacados{
    padding: 20px 0;
}
.destacados-content {
    background-color: #c8c8c8;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: 0.2s;
}

.destacados-tile{
    text-align: center;
    vertical-align: middle;
    margin-bottom: 30px;
}
.destacados-tile img {
    width:200px;
    height: 200px;
}
.destacados-tile:hover > .destacados-content{
    margin-top: -10px;
    border: 1px solid rgb(200, 200, 200);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px;
    background: rgba(200, 200, 200, 0.1);
    transition: 0.5s;
    color:white;
    cursor: pointer;
}

.destacados-blog {
    padding: 0;
    vertical-align: middle;
    margin-bottom: 30px;
    min-height: 200px;
}
.destacados-blog img{
    margin-bottom: 5px;
}
.destacados-blog .left-control {
    height: 100%;
    min-height: 180px;
    box-shadow: 2px 0 lightgrey;
}
.destacados-blog .left-control hr {
    margin: 3px;
    padding: 1px;
}
.destacados-blog .left-control i{
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}
.destacados-blog .controls {
    text-align: center;
}
.destacados-blog .controls i {
    font-size: 21px;
    cursor: pointer;
}
.destacados-list > .nav-tabs {
    border-bottom: none;
}
.destacados-list > .nav-tabs a:hover,
.destacados-list > .nav-tabs >li > a:hover{
    border: 1px solid rgb(200, 200, 200);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px;
    background: rgba(0, 0, 0, 0.10);
    transition: 0.5s;
    cursor: pointer;
}
.destacados-list > .nav-tabs a {
    text-decoration: none;
    background-color: transparent;
    border: none;
    color: inherit;
}
.destacados-list > .nav-tabs>li.active>a,
.destacados-list > .nav-tabs>li.active>a:focus,
.destacados-list > .nav-tabs>li.active>a:hover{
    background-color: transparent;
    border: none;
    font-weight: bold;
}


.destacados-error {
    text-align: center;
}
.destacados-error > div > a:hover{
    margin-top: -10px;
    border: 1px solid rgb(200, 200, 200);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px;
    transition: 0.5s;
}
.error-actions {
    margin-top:15px;
    margin-bottom:15px;
}
.error-actions .btn {
    margin-right:40px;
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}